<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Geeps Poster Printing Center</title>
</head>
<body>
    <h1>Geeps Poster Printing Center</h1>
    <div class="form-container">
        <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form">
            <div class="form-input">
                <label for="name">Nom</label>
                    {{ form.name.errors }}
                    {{ form.name }}
            </div>
            <br>
            <div class="form-input">
                <label for="firstname">Prénom</label>
                    {{ form.firstname.errors }}
                    {{ form.firstname }}
            </div>
            <br>
            <div class="form-input">
                <label for="email">E-Mail</label>
                    {{ form.email.errors }}
                    {{ form.email }}
            </div>
            <br>
            <div class="form-input">
                <label for="phone">Téléphone</label>
                    {{ form.phone.errors }}
                    {{ form.phone }}
            </div>
            <br>
            <div class="form-input">
                <label for="building">Bâtiment</label>
                    {{ form.building.errors }}
                    {{ form.building }}
            </div>
            <br>
            <div class="form-input">
                <label for="office">Bureau</label>
                    {{ form.office.errors }}
                    {{ form.office }}
            </div>
            <br>
            <div>
                <label for="upload">Uploadez votre fichier (PDF | PPT | PPTX)</label>
                    {{ form.upload.errors }}
                    {{ form.upload }}
            </div>
            <br>
            <div class="form-input">
                <label for="format">Format d'impression</label>
                    {{ form.format.errors }}
                    {{ form.format }}
            </div>
            <br>
            <div id="format_manual">
                <div class="form-input">
                    <label for="formatHeight">Hauteur <span class="multiplier">X</span> Largeur</label>
                    <div id="format_manual_champs">
                        <br>
                            {{ form.formatHeight.errors }}
                            {{ form.formatWidth.errors }}
                            {{ form.formatHeight }} cm <span class="multiplier">X</span> 
                            {{ form.formatWidth }} cm
                    </div>
                </div>
            </div>
            <br>
            <div class="form-input">
                <label for="comments">Commentaires</label>
                    {{ form.comments.errors }}
                    {{ form.comments }}
            </div>
        </div>
        <br>
        <input type="submit" name="send" value="Envoyer" />
        </form>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<script type="text/javascript">

/*
    Cette fonction affiche ou masque les champs
    Hauteur et Largeur du format en fonction du format choisi
    sur le champ "format"
*/
function checkFormat()
{
    var fSelect = document.getElementById('id_format');
    var fValue = fSelect.options[fSelect.selectedIndex].value;
    var divManual = document.getElementById('format_manual');
    var fw = document.getElementById('id_formatWidth');
    var fh = document.getElementById('id_formatHeight');

    /* Si la valeur est sur autre chose que "Autre format" */
    if(fValue != "3")
    {
        /* On cache les champs Hauteur et Largeur et on les vide */
        divManual.style.display = "none";
        fw.value = '';
        fh.value = '';
    }
    else
    {
        divManual.style.display = "block";
    }
}

window.onload = function()
{
    checkFormat();
};
</script>
</html>